$opacity-faded: .15;
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

.section-contents {
  padding-right: $gutter-mobile;
  padding-left: $gutter-mobile;
  background-color: #0c0e0e;

  &,
  .container {
    min-height: 830px;
  }
}

.contents-visibility-sensor {
  width: 1px;
  height: 1px;
}

.contents-slide,
.contents-supplements {
  color: #fff;
}

.contents-title {
  font-size: 5.3vw;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  letter-spacing: .3em;
  opacity: .25;
}

.contents-head {
  font-family: $gotham-condensed;
  font-size: 44vw;
  line-height: 1;
  font-weight: $font-weight-normal;
  letter-spacing: -0.01em;
  color: $primary;
}

.contents-subhead {
  font-size: 8vw;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: .2em;

  .combined & {
    font-weight: $font-weight-thin;
    line-height: 1;
    color: #fff;
    text-transform: unset;
    letter-spacing: unset;

    em {
      font-weight: $font-weight-normal;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: .2em;
    }
  }
}


.contents-list {
  list-style: none;
  padding: 0;
  font-size: 8vw;
  line-height: 1.25;
  font-weight: $font-weight-thin;
}

.contents-image {

}


.contents-afterthought {
  display: block;
  letter-spacing: .3em;
  color: $gray;
  text-transform: uppercase;

  @include media-breakpoint-down('md') {
    width: 100%;
    margin-top: 5px;
    margin-right: $gutter-mobile;
    font-size: 21px;
    text-align: right;
  }
}



//
// Supplements list
//

.supplements-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  &-item {
    box-shadow: 0;
    transition: box-shadow .3s ease;
    cursor: pointer;

    &.active {
      box-shadow: 0 0 0 5px $primary;
    }
  }
}

.supplements-image {
  max-width: 100%;
  height: auto;
  filter: brightness(.35) grayscale(100%);
  transition: filter .3s ease;

  &:hover {
    filter: brightness(.75) grayscale(0);
  }

  .active > & {
    filter: brightness(1) grayscale(0);
  }
}


.supplements-info {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  &-item {
    display: none;
    font-size: 25px;
    line-height: 1.2;

    &.active {
      display: block;
      animation: fade-in 1s ease forwards;
    }
  }

  &-title {
    margin-bottom: .5em;
    font-weight: $font-weight-medium;
    color: $primary;
  }

  &-description {
    color: $gray-lightest;
  }
}


@include media-breakpoint-down('md') {
  .section-contents::before {
    display: block;
    content: '';
    width: 100vw;
    height: 90vw;
    margin-right: -$gutter-mobile;
    margin-left: -$gutter-mobile;
    background: url('https://cdnus.melaleuca.com/microsites/peak-performance/images/bg-contents.jpg') no-repeat left top;
    background-size: cover;
  }

  .contents-slide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: $gutter-mobile;
    padding-bottom: $gutter-mobile;

    &.combined {
      padding-bottom: $gutter-mobile * 2;
    }
  }

  .contents-title {
    flex: 1 0 100%;
    margin: $gutter-mobile 0 0;
  }

  .contents-head {
    flex: 0 1 40%;
    padding-right: 2vw;
    text-align: right;
  }

  .contents-subhead {
    .developed & {
      order: 3;
      margin-top: -5vw;
      margin-left: auto;
    }

    .combined & {
      margin-top: 13vw;
      font-size: 13.5vw;
    }
  }

  .contents-list {
    flex: 1 0 60%;
    margin-top: 10vw;
  }

  .contents-image {
    width: 80%;
    // height: auto;

    &-wrap {
      width: 70%;
      margin-left: auto;
    }
  }

  .contents-supplements {
    background-color: $gray-dark;
    padding: $gutter-mobile;
    margin-right: -$gutter-mobile;
    margin-left: -$gutter-mobile;

    .contents-title {
      opacity: 1;
      margin-bottom: $gutter-mobile;
    }

  }

  .supplements-list {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    &-item {
      display: inline-block;
      margin: 5px;

      & + & {
        margin-left: 15px;
      }
    }
  }

  .supplements-info {
    // min-height: 42vh;
    padding: $gutter-mobile 0;
  }
}


@include media-breakpoint-up('lg') {
  .section-contents {
    padding: $grid-gutter-width;
    background-image: url('https://cdnus.melaleuca.com/microsites/peak-performance/images/bg-contents.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: left top;
    background-position: left top;
    background-size: cover;

    &,
    & .container {
      display: flex;
      align-items: stretch;
      justify-content: stretch;
    }

    .container {
      position: relative;
    }

    .container,
    .contents-slide {
      flex: 1 0 100%;
    }
  }


  .contents-slide,
  .contents-supplements {
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: stretch;
    justify-self: stretch;
  }

  .contents-slide {
    &.active {
      animation: fade-in 2s ease both;
    }

    &.fade-out {
      animation: fade-out 3s ease both;
    }
  }

  .contents-title,
  .contents-head,
  .contents-subhead,
  .contents-list,
  .contents-image {
    position: absolute;
  }

  .contents-title,
  .contents-head,
  .contents-subhead,
  .contents-list-item,
  .contents-image,
  .contents-afterthought,
  .contents-ribbon {
    opacity: 0;

    .contents-slide.fade-out & {
      opacity: 1;
    }
  }

  .contents-title {
    top: 30%;
    right: 40%;
    white-space: nowrap;
    font-size: 27px;

    .contents-slide.active &,
    .contents-slide.fade-out & {
      opacity: $opacity-faded;
    }

    .contents-supplements.active & {
      opacity: 1;
    }

    .contents-slide.active & {
      animation: title-fade-in 3s ease both;
    }
  }

  .contents-head {
    top: 11%;
    right: 38%;
    font-size: 225px;

    .fade-out & {
      opacity: 1;
    }

    //
    // First slide
    .contains.active & {
      animation: slide-up-in 4.1s $ease-out-circ 2s both;
    }
    .contains.fade-out & {
      animation: slide-up-out 2s ease forwards;
    }

    //
    // Second slide
    .developed.active & {
      animation: slide-left-in 4.1s $ease-out-circ 2s both;
    }
    .developed.fade-out & {
      animation: slide-left-out 2s ease forwards;
    }

    //
    // Third slide
    .combined.active & {

    }
  }

  .contents-subhead {
    top: 42%;
    left: 57%;
    font-size: 50px;
    line-height: 1.4;

    .developed.active & {
      animation: slide-left-in 4.1s $ease-out-circ 3.5s both;
    }
    .developed.fade-out & {
      animation: slide-left-out 2s ease forwards;
    }

    .combined & {
      top: 15.5%;
      left: 63%;
      font-size: 85px;
    }
  }

  .contents-list {
    top: 22%;
    left: 63%;
    font-size: 50px;

    .developed & {
      top: 17%;
    }

    &-item {
      .contains.active & {
        animation: slide-up-in 4.1s $ease-out-circ both;
      }
      .contains & {
        @for $i from 1 through 12 {
          &:nth-child(#{$i}n) {
            animation-delay: #{2.5 + $i * 0.25}s;
          }
        }
      }
      .contains.fade-out & {
        animation: slide-up-out 2s ease forwards;
      }

      .developed.active & {

        animation: slide-left-in 4.1s $ease-out-circ 2s both;

        @for $i from 1 through 12 {
          &:nth-child(#{$i}n) {
            animation-delay: #{2.5 + $i * 0.25}s;
          }
        }
      }
      .developed.fade-out & {
        animation: slide-left-out 2s ease both;
      }
    }
  }


  .contents-image {
    top: 44%;
    left: 59%;
    width: 320px;
  }

  .contents-slide.combined.active {
    .contents-head,
    .contents-subhead,
    .contents-image,
    .contents-afterthought {
    }
  }

  .contents-head,
  .contents-subhead,
  .contents-image,
  .contents-afterthought {
    .contents-slide.combined.active & {
      animation: fade-scale-in 4.1s $ease-out-circ 2s both;
    }
    .contents-slide.combined.fade-out & {
      animation: fade-out 2s ease forwards;
    }
  }

  .contents-afterthought {
    position: absolute;
    top: 85%;
    left: 63%;
    display: block;
    width: 380px;
    font-size: 27px;

    .contains.active & {
      animation: slide-up-in 4.1s $ease-out-circ 4.5s both;
    }
    .contains.fade-out & {
      animation: slide-up-out 2s ease forwards;
    }

    .combined & {
      left: 60%;
    }
  }

  .contents-ribbon {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: calc(100% + #{$grid-gutter-width * 2});
    margin: -$grid-gutter-width 0;
    transform: translateX(50%);

    .contains.active & {
      animation: fade-in 2s ease 4.5s both;
    }
  }

  .contents-supplements {
    opacity: 0;

    &.active {
      animation: fade-in 3s ease forwards;
    }
  }

  .supplements-list {
    position: absolute;
    right: 5%;
    bottom: 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 75%;

    &-item {
      margin-right: 20px;
      margin-bottom: 20px;
    }


  }

  .supplements-info {
    position: absolute;
    top: 12%;
    left: 63%;

    &-item {
      position: absolute;
      width: 400px;
      font-size: 25px;
    }
  }
}



@media (min-width: 1340px) {
  .supplements-list {
    justify-content: flex-start;
    width: 56%;

    &-item:nth-child(4) {
      margin-left: auto;
    }
  }
}





//
// Animations
//
@keyframes title-fade-in {
  0%    { opacity: 1; }
  50%   { opacity: 1; }
  100%  { opacity: $opacity-faded; }
}


// !!! TODO !!!
//
// Update animation effects
//
// 1. Movement should not come to rest
// 2. Moving items should move/fade in, slow down, then move/fade out
//


@keyframes slide-up-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slide-left-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fade-scale-in {
  0% {
    opacity: 0;
    transform: scale(.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-scale-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

