.section-contents {
  min-height: 900px;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  background-color: $gray-darkest;
  background-image: url('https://cdnctus.melaleuca.com/microsites/peak-performance/images/bg-contents.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
