$opacity-faded: .15;

.section-contents {
  min-height: 830px;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  background-color: $gray-darkest;
  background-image: url('https://cdnctus.melaleuca.com/microsites/peak-performance/images/bg-contents.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  &,
  & .container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }

  .container {
    position: relative;
  }

  .container,
  .contents-slide {
    flex: 1 0 100%;
  }
}

.contents-slide,
.contents-supplements {
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: stretch;
  justify-self: stretch;
  color: #fff;
}

.contents-slide {

  &.active {
    animation: fade-in 2s ease both;
  }

  &.fade-out {
    animation: fade-out 1s ease both;
  }
}

.contents-title,
.contents-head,
.contents-subhead,
.contents-list,
.contents-image {
  position: absolute;
}

.contents-title,
.contents-head,
.contents-subhead,
.contents-list-item,
.contents-image {
  opacity: 0;

  .contents-slide.fade-out & {
    opacity: 1;
  }
}

.contents-title {
  top: 30%;
  right: 40%;
  font-size: 26px;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: .3em;

  .contents-slide.active &,
  .contents-slide.fade-out & {
    opacity: $opacity-faded;
  }

  .contents-supplements.active & {
    opacity: 1;
  }

  .contents-slide.active & {
    animation: title-fade-in 3s ease both;
  }
}


.contents-head {
  top: 11%;
  right: 38%;
  font-family: $gotham-condensed;
  font-size: 225px;
  font-weight: $font-weight-normal;
  letter-spacing: -0.01em;
  color: $primary;

  .fade-out & {
    opacity: 1;
  }

  //
  // First slide
  .contains.active & {
    animation: slide-up-in 1s ease 2s both;
  }
  .contains.fade-out & {
    // animation: slide-up-out 1s ease;
  }

  //
  // Second slide
  .developed.active & {
    animation: slide-left-in 1s ease 2s both;
  }

  //
  // Third slide
  .combined.active & {

  }
}

.contents-subhead {
  top: 42%;
  left: 57%;
  font-size: 50px;
  line-height: 1.4;
  color: $primary;
  text-transform: uppercase;
  letter-spacing: .2em;

  .developed.active & {
    animation: slide-left-in 1s ease 3.5s both;
  }

  .combined & {
    top: 18.5%;
    left: 63%;
    font-size: 85px;
    font-weight: $font-weight-thin;
    line-height: 1;
    color: #fff;
    text-transform: unset;
    letter-spacing: unset;

    em {
      font-weight: $font-weight-normal;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: .2em;
    }
  }
}

.contents-list {
  top: 22%;
  left: 63%;
  list-style: none;
  padding: 0;
  font-size: 50px;
  line-height: 1.24;
  font-weight: $font-weight-thin;

  .developed & {
    top: 17%;
  }

  &-item {
    .contains.active & {
      animation: slide-up-in 1s ease both;
    }
    .contains.fade-out & {
      // animation: slide-up-out 1s ease forwards;
    }
    .contains & {
      @for $i from 1 through 12 {
        &:nth-child(#{$i}n) {
          animation-delay: #{2.5 + $i * 0.25}s;
        }
      }
    }

    .developed.active & {

      animation: slide-left-in 1s ease 2s both;

      @for $i from 1 through 12 {
        &:nth-child(#{$i}n) {
          animation-delay: #{2.5 + $i * 0.25}s;
        }
      }
    }
  }
}

.contents-image {
  top: 46%;
  right: 18%;
  max-width: 333px;
}

.contents-slide.combined.active {
  // opacity: 0;
  // animation: fade-scale-in 3s ease-out 5s both;

  // .contents-head,
  // .contents-subhead,
  // .contents-image {
  //   opacity: 1;
  // }


  .contents-head,
  .contents-subhead,
  .contents-image {
    animation: fade-scale-in 3s ease-out 2s both;
  }
}



//
// Supplements list
//

.contents-supplements {
  opacity: 0;

  &.active {
    animation: fade-in 3s ease forwards;
  }
}

.supplements-list {
  position: absolute;
  right: 5%;
  bottom: 12%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 56%;

  &-item {
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0;
    transition: box-shadow .3s ease;
    cursor: pointer;

    &:nth-child(4) {
      margin-left: auto;
    }

    &.active {
      box-shadow: 0 0 0 5px $primary;
    }
  }
}

.supplements-image {
  max-width: 100%;
  height: auto;
  filter: brightness(.35) grayscale(100%);
  transition: filter .3s ease;

  &:hover {
    filter: brightness(.75) grayscale(0);
  }

  .active > & {
    filter: brightness(1) grayscale(0);
  }
}

.supplements-info {
  position: absolute;
  top: 12%;
  left: 63%;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  &-item {
    position: absolute;
    width: 400px;
    font-size: 25px;
    line-height: 1.2;
    visibility: hidden;

    &.active {
      visibility: visible;
      animation: fade-in 1s ease forwards;
    }
  }

  &-title {
    margin-bottom: .5em;
    font-weight: $font-weight-medium;
    color: $primary;
  }

  &-description {
    color: $gray-lightest;
  }
}




//
// Animations
//
@keyframes title-fade-in {
  0%    { opacity: 1; }
  50%   { opacity: 1; }
  100%  { opacity: $opacity-faded; }
}


// !!! TODO !!!
//
// Update animation effects
//
// 1. Movement should not come to rest
// 2. Moving items should move/fade in, slow down, then move/fade out
//


@keyframes slide-up-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-left-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left-out {
  // TODO
}

@keyframes fade-scale-in {
  0% {
    opacity: 0;
    transform: scale(.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

