.footer {
  text-align: center;
  background-color: $gray-dark;
}

//
// Upper section
//

.footer-upper {
  background-color: $primary;
  padding: ($grid-gutter-width * 2) $gutter-mobile $grid-gutter-width;
}

.footer-title,
.footer-lead {
  margin-bottom: 0;
}

.footer-title {
  margin-bottom: $gutter-mobile;
  font-size: 40px;
  line-height: 1;
  color: #fff;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
}

.footer-lead {
  font-size: 25px;
  font-weight: $font-weight-light;
  line-height: 1;
  color: $gray-darker;

  @include media-breakpoint-up('md') {
    // font-size: 33px;
  }
}

//
// Lower section
//

.footer-lower,
.footer-links a {
  font-size: $font-size-base;
  color: $gray-light;
}

.footer-lower {
  padding: ($grid-gutter-width * 1.5) $gutter-mobile;
}

.footer-contact {
  color: $primary;
  font-size: 22px;
  line-height: 1;
  margin-bottom: $grid-gutter-width;

  @include media-breakpoint-up('lg') {
    font-size: 25px;
  }
}

.footer-disclaimer {
  max-width: 580px;
  padding: 5px ($grid-gutter-width / 2);
  margin-right: auto;
  margin-left: auto;
  border: 1px solid $gray-light;
}

.footer-copyright {
  margin-bottom: $grid-gutter-width;
}

.footer-links {
  margin-top: $grid-gutter-width;

  a {
    padding: .625rem;
  }
}
