$grid-gap: 20px;

.section-gallery {
  padding: $gutter-mobile;
  background-color: #fff;
}

.gallery-show-more {
  white-space: nowrap;
}

.gallery-thumbnail {
  width: 100%;
  height: auto;

  &-wrap {
    overflow: hidden;
  }

  .medium & {
    filter: blur(10px);
  }
}

.gallery-quote {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $spacer;
  text-align: center;
  color: #fff;
  background-color: rgba(#000, .6);

  @supports (filter: blur()) {
    background-color: transparent;
  }

  &-text,
  &-cite {
    max-width: 100%;
  }

  &-text {
    margin-bottom: $spacer / 2;
    font-size: 24px;
    line-height: 1.2;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
  }

  &-cite {
    font-size: 18px;
  }
}

.gallery-title {
  font-size: 42px;
  font-weight: $font-weight-thin;
  line-height: 1;

  em {
    font-weight: $font-weight-normal;
    font-style: normal;
    text-transform: uppercase;
  }
}

.gallery-description {
  font-size: 21px;
}



.gallery-item {
  position: relative;

  &.video {
    cursor: pointer;

    filter: grayscale(100%);
    transition: filter .2s ease;

    &:hover {
      filter: grayscale(0);
    }


  }

  .gallery-play-icon {
    position: absolute;
    bottom: 1.25vw;
    right: 1.25vw;
    z-index: 1;
    display: block;
    width: 37px;
    height: 37px;
    padding: 0;
    content: '\f144';
    font-family: $font-awesome;
    font-size: 37px;
    line-height: 1;
    color: #000;
    text-align: center;
    background: radial-gradient(#fff 0%, #fff 50%, #000 50%, #000 100%);
    border-radius: 50%;
    opacity: .5;
    transition: opacity .2s ease;
  }
}


//
// IE11 Fallbacks
//

.gallery-groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @extend .container;
}

.gallery-group {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  &.group-1 {
    // flex-basis: 100%;
    flex-direction: row-reverse;

    br {
      display: none;
    }
    .text {
      flex-basis: 100%;
    }

    .video {
      flex-basis: 0;
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }

  // &.group-2 {
  //   order: -1;
  // }

  &.group-3,
  &.group-4,
  &.group-5 {
    flex-basis: 100%;
  }

}

.gallery-item {
  flex: 1 0 12%;
  margin: 0 $grid-gap $grid-gap 0;

  // .group-3 & {
  //   flex-basis: 20%;
  // }

  &.button {
    order: 10;
  }
}


@supports (display: grid) {
  //
  // Unset non-grid fallbacks
  //
  .gallery-groups {
    display: unset;
    max-width: unset;
  }

  .gallery-group {
    flex-basis: unset;
    display: unset;
    flex-direction: unset;
    flex-wrap: unset;
    align-items: unset;

    &.group-1 {
      flex-direction: row;

      br {
        display: block;
      }

      .video {
        flex-basis: auto;
        width: auto;
        height: auto;
        overflow: unset;
      }

      .text {
        flex-basis: auto;
      }
    }

    &.group-2 {
      order: unset;
    }

    &.group-3,
    &.group-4,
    &.group-5 {
      flex-basis: unset;
    }

  }

  .gallery-item {
    flex: unset;
    margin: unset;

    &.button {
      order: unset;
    }
  }



  //
  // Phone/Tablet screen layout
  //
  @include media-breakpoint-down('md') {
    .gallery-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $grid-gap;
      margin-bottom: $grid-gap;
    }

    .group-1 {
      .gallery-item.video {
        display: none;
      }
    }

    .group-2 {
      order: 1;
    }

    .gallery-item {
      &.medium,
      &.large,
      &.text {
        grid-column: 1 / span 2;
      }

      &.button {
        display: none;
      }
    }

    .gallery-title {
      font-size: 9vw;
      line-height: 1.2
    }
  }



  //
  // Large screen layout
  //

  @include media-breakpoint-up('lg') {
    .section-gallery {
      padding: 25px;
    }

    .gallery-groups {
      @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas:
          'a b b'
          'a c d'
          'e e d';
        width: 100%;
        height: 56vw;
      }
    }

    .gallery-group {
      position: relative;
      display: flex;
      flex-flow: row wrap;
    }


    .group-1 {
      grid-area: b;
      align-items: flex-end;
      justify-content: flex-start;
    }

    .group-2 {
      grid-area: c;
    }

    .group-3 {
      grid-area: d;
      align-content: flex-start;
    }

    .group-4 {
      grid-area: e;
      flex-flow: row-reverse nowrap;
      align-content: flex-start;
      justify-content: flex-start;
    }

    .group-5 {
      grid-area: a;
      flex-wrap: wrap-reverse;
      align-content: flex-start;
      justify-content: flex-end;
    }

    .gallery-item {
      padding: $grid-gap / 2;

      //
      // Videos
      .gallery-play-icon {
        width: 25px;
        height: 25px;
        font-size: 25px;
      }


      &.video:hover .gallery-play-icon {
        opacity: 1;
      }

      //
      // Button
      &.button {
        position: absolute;
        top: 0;
        right: -$grid-gutter-width;
      }

      //
      // Size variations
      &.small {
        flex-basis: 50%;

        .group-4 & {
          flex-basis: percentage((1/8) / (3/4));
          height: 50%;
        }
      }

      &.medium {
        flex-basis: 100%;

        .group-1 &,
        .group-4 & {
          flex-basis: percentage((1/4) / (3/4));
          height: 100%;
        }
      }

      &.large {
        width: 100%;
        height: 100%;
      }
    }
  }
}








