.container {
  max-width: $page-max-width;
  margin-left: auto;
  margin-right: auto;
}


.custom-select {
  position: relative;
  z-index: 1;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  background: rgba(#fff, .2);

  &,
  & select {
    border-radius: 4px;
  }

  select {
    appearance: none;
    padding: 6px $grid-gutter-width 6px $grid-gutter-width / 2;
    color: currentColor;
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: -1;
    content: '\f0d7';
    font-family: $font-awesome;
    line-height: 1;
    transform: translateY(-50%);
  }
}


.btn {
  padding: 13px $grid-gutter-width;
  font-weight: $font-weight-bold;
  line-height: 1;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  box-shadow: none;


  &.btn-primary {
    color: #fff;
    background-color: $primary;
  }
}
