$scroll-width: 75px;

.section-hero,
.hero-video {
  width: 100vw;
  height: 100vh;
}

.section-hero {
  position: relative;
}

.hero-video {
  position: absolute;
  z-index: -1;

  .jwplayer {
    width: 100vw;
    height: 100vh;
  }
}

.hero-steps {
  list-style-type: none;
  counter-reset: li;
  padding-top: $grid-gutter-width;
  padding-left: $grid-gutter-width;

  &-item {
    font-size: 25px;
    line-height: 1.75;
    font-weight: $font-weight-normal;
    transition: color .2s ease-in-out;
    cursor: pointer;

    &.active {
      color: $primary;
    }

    &::before {
      counter-increment: li;
      content: counter(li, decimal-leading-zero);
      margin-right: $grid-gutter-width / 2;
      font-weight: $font-weight-bold;
      letter-spacing: 5px;
    }
  }
}

.hero-title {
  position: absolute;
  right: 40px + $scroll-width;
  bottom: 0;
  font-family: $gotham-condensed;
  font-size: 20vw;
  font-weight: $font-weight-normal;
  line-height: .8;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: -.8vw;

  &-top {
    @include text-stroke(rgba(#000,.2), #fff, 1px);
  }

  &-bottom {
    display: block;
    margin-right: -1.6vw;
    font-style: normal;
    color: #fff;
    letter-spacing: 1vw;
  }
}

.hero-scroll {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: $scroll-width;
  background-color: rgba(#000, .75);
}

.hero-scroll-link {
  position: relative;
  top: -$scroll-width;
  font-weight: $font-weight-bold;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  transform: rotate(90deg);

  &,
  &:hover,
  &:active {
    color: $primary;
    text-decoration: none;
  }
}
