$scroll-width: 75px;

.section-hero,
.hero-slide,
.hero-video {
  width: 100vw;
  height: 9 / 16 * 100vw;
  @supports (object-fit: cover) {
    height: 100vh;
  }
}

.section-hero {
  position: relative;
  z-index: 1;
  background-color: $gray-dark;
  overflow: hidden;
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;

  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s ease,
              visibility 1.5s ease;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  @include media-breakpoint-up('lg') {
    background: none !important;
  }
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  overflow: hidden;

  @include media-breakpoint-down('md') {
    display: none;
  }
}

.hero-tagline,
.hero-steps {
  padding-left: $gutter-mobile;

  @include media-breakpoint-up('lg') {
    padding-left: $grid-gutter-width;
  }
}

.hero-tagline {
  padding-top: $grid-gutter-width * (2 / 3);
  line-height: 1;
  font-size: 27px;
  font-weight: $font-weight-light;
  color: #fff;
  text-shadow: 1.3px 1.5px 0 rgba(#000, .8);

  @include media-breakpoint-up('lg') {
    font-size: 50px;
  }
}

.hero-steps {
  list-style-type: none;
  counter-reset: li;

  &-item {
    width: 0;
    font-size: 25px;
    line-height: 1.75;
    color: #000;
    transition: color .2s ease-in-out;

    &.active {
      color: #fff;
      text-shadow: 1.3px 1.5px 0 rgba(#000, .8);
    }

    &:focus,
    &:active {
      outline: none;
    }

    &::before {
      counter-increment: li;
      content: counter(li, decimal-leading-zero);
      margin-right: $grid-gutter-width / 2;
      font-weight: $font-weight-medium;
      letter-spacing: 5px;
      cursor: pointer;
    }
  }
}

.hero-title {
  position: absolute;
  right: $gutter-mobile;
  bottom: 0;
  font-family: $gotham-condensed;
  font-size: 20vw;
  font-weight: $font-weight-normal;
  line-height: .8;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: -.8vw;

  @include media-breakpoint-up('lg') {
    right: 40px + $scroll-width;
  }

  &-top {
    @include text-stroke(transparent, #fff, .01em);
  }

  &-bottom {
    display: block;
    margin-right: -1.6vw;
    font-style: normal;
    color: #fff;
    letter-spacing: 1vw;
  }
}

.hero-scroll {
  display: none;

  @include media-breakpoint-up('lg') {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: $scroll-width;
    background-color: rgba(#000, .75);
  }
}

.hero-scroll-link {
  position: relative;
  top: -$scroll-width;
  font-weight: $font-weight-bold;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  transform: rotate(90deg);

  &,
  &:hover,
  &:active {
    color: $primary;
    text-decoration: none;
  }
}
