.section-intro {
  background-color: $gray-lightest;
  color: $gray-darker;
  padding-top: $gutter-mobile;
  padding-bottom: $gutter-mobile;

  @include media-breakpoint-up('lg') {
    padding: $gutter-mobile;
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  @include media-breakpoint-up('lg') {
    flex-direction: row;
  }
}

.intro-image-wrap {
  position: relative;
  cursor: pointer;

  @include media-breakpoint-down('md') {
    // margin: -30px;
  }

  @include media-breakpoint-up('lg') {
    flex: 0 0 55%;
  }

  .fa-play-circle {
    position: absolute;
    top: 39%;
    left: 50%;
    font-size: 65px;
    line-height: 1;
    color: #fff;
    opacity: .5;
    text-shadow: 0 0 10px rgba(#000, .8);
    transform: translate(-50%);
    transition: opacity .2s ease;

    // @include media-breakpoint-up('lg') {
    // }
  }


  &:hover {
    .fa-play-circle {
      opacity: 1;
    }
  }
}

.intro-image {
  max-width: 100%;
  padding-right: $gutter-mobile / 2;
  padding-left: $gutter-mobile / 2;
}

.intro-copy {
  padding-right: $gutter-mobile;
  padding-left: $gutter-mobile;

  @include media-breakpoint-up('lg') {
    padding-top: $gutter-mobile;
    padding-bottom: $gutter-mobile;

    flex: 0 0 45%;
  }
}

.intro-title {
  margin-bottom: $spacer;
  font-size: 9vw;
  line-height: 1;
  font-weight: $font-weight-thin;

  @include media-breakpoint-up('lg') {
    font-size: 50px;
  }

  em {
    font-weight: $font-weight-normal;
    font-style: normal;
    text-transform: uppercase;
  }
}

.intro-description {
  font-size: 20px;
  line-height: 1.35;
}
