.modal {
  z-index: $zindex-modal;

  &,
  &-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-open {
    overflow: hidden;

    & .modal {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }


  &-inner {
    position: relative;
    width: 90vw;
    margin: 10vh auto;

    @include media-breakpoint-only('md') {
      width: 80vw;
    }
    @include media-breakpoint-up('lg') {
      width: 70vw;
    }
  }

  &-backdrop {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000, .75);
  }

  &-close {
    position: absolute;
    z-index: 1;
    top: $gutter-mobile / 2;
    right: $gutter-mobile / 2;
    font-size: $h3-font-size;
    color: #fff;
    background-color: transparent;
    background-image: radial-gradient(#000 0%, #000 30%, transparent 30%, transparent 100%);
    border: none;
    cursor: pointer;
    opacity: .5;
    transition: .2s opacity ease;

    &:hover {
      opacity: 1;
    }
  }
}

