.section-quiz {
  padding: 40px;
  background-color: $gray-darkest;
  color: #fff;

  @include media-breakpoint-up('lg') {
    padding: ($grid-gutter-width * 2) $grid-gutter-width;
  }
}

.quiz-inner {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;

  @include media-breakpoint-up('lg') {

  }

}

.quiz-symptoms {
  height: 18vw;
  padding: 20px;
  margin-bottom: 0;
  font-size: 5.4vw;
  line-height: 1.1;
  font-weight: $font-weight-light;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
  list-style-type: none;


  @include media-breakpoint-up('lg') {
    height: 30px;
    font-size: 27px;
    line-height: 1;
  }


  em {
    font-weight: $font-weight-medium;
    font-style: normal;
    color: $primary;
  }

  &.hidden {
    visibility: hidden;

    .quiz-symptom {
      position: inherit;
    }
  }
}

.quiz-symptom {
  position: absolute;
  top: 0;
  left: 50%;
  visibility: hidden;
  width: 100%;
  transform: translate(-50%, 200%);

  @include media-breakpoint-up('lg') {
    // width: auto;
    white-space: nowrap;
  }


  &.active,
  &.prev {
    visibility: visible;
  }

  &.active,
  &.prev {
    animation-duration: .2s;
  }

  &.active {
    animation-name: slidein;
    transform: translate(-50%, 0);
  }

  &.prev {
    animation-name: slideout;
    transform: translate(-50%, 150%);
  }
}

@keyframes slidein {
  from {
    transform: translate(-50%, 150%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -150%);
    opacity: 0;
  }
}
