.section-quiz {
  padding: ($grid-gutter-width * 2) $grid-gutter-width;
  background-color: $gray-darkest;
  color: #fff;
}

.quiz-inner {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}

.quiz-symptoms {
  height: 30px;
  padding: 20px;
  margin-bottom: 0;
  font-size: 27px;
  font-weight: $font-weight-light;
  letter-spacing: .2em;
  text-transform: uppercase;
  list-style-type: none;

  em {
    font-weight: $font-weight-medium;
    font-style: normal;
    color: $primary;
  }

  &.hidden {
    visibility: hidden;

    .quiz-symptom {
      position: inherit;
    }
  }
}

.quiz-symptom {
  position: absolute;
  top: 0;
  left: 50%;
  white-space: nowrap;
  visibility: hidden;
  transform: translate(-50%, 150%);

  &.active,
  &.prev {
    visibility: visible;
  }

  &.active,
  &.prev {
    animation-duration: .2s;
  }

  &.active {
    animation-name: slidein;
    transform: translate(-50%, 0);
  }

  &.prev {
    animation-name: slideout;
    transform: translate(-50%, 150%);
  }
}

@keyframes slidein {
  from {
    transform: translate(-50%, 150%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -150%);
    opacity: 0;
  }
}
