//
// Project Variables
//

// Page layout
$page-max-width: 1400px;


// Font families
$gotham-condensed: 'Gotham Cond A', 'Gotham Cond B', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; // gotham narrow display
$gotham-narrow: 'Gotham Narrow A', 'Gotham Narrow B', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; // gotham narrow display
$gotham-narrow-screensmart: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', Arial, sans-serif; // gotham narrow screen smart
$font-awesome: 'FontAwesome', sans-serif;

// Font weights
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Colors
$primary: #f47222;

$gray-darkest: #111;
$gray-darker: #252525;
$gray-dark: #333;
$gray-light: #959595;
// $gray-lighter: #ccc;
$gray-lightest: #ebebeb;

$text-inverse: $gray-lightest;



//
// Bootstrap Overrides
//

$font-family-base: $gotham-narrow-screensmart;
$headings-font-family: $gotham-narrow;
// $headings-font-weight: $font-weight-light;
