$gotham-n: 'Gotham Narrow A', 'Gotham Narrow B', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; // gotham narrow display
$gotham-n-ss: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', Arial, sans-serif; // gotham narrow screen smart

$font-weight-thin: 200;
$font-weight-medium: 500;

$font-family-base: $gotham-n-ss;
$headings-font-family: $gotham-n;
$headings-font-weight: $font-weight-thin;
